<h2>About Rails Blog</h2>
<hr />
<style type="text/css">
	.text_block {
		 border: 1px solid #CC33CC;
		 font-size: 14px;
      width: 300px;
      height: 100px;
      padding: 5px;
      white-space: pre-wrap;
      overflow: hidden;
      o-text-overflow: ellipsis;
      text-overflow: ellipsis;
	}
</style>
<div class='text_block'>
	The Rails Blog is an exercise in setting up Rails devise and authenticate along with seeding the database with an initial super_admin.  

	It incorporates the use of JQuery Datatables to list the comments about a post to illustrate how to use that.
</div>
<br />
<h3>Developer</h3>
<p />
<table>
	<tbody>
		<tr><td><img src="http://jwooten37830.com/home/woo3.jpeg" width=150px height=200px /></td></tr>
		<tr><td>John Wooten, Ph.D.</td></tr>
		<tr><td>Big Cheese</td></tr>
		<tr><td><a href="mailto:jwooten37830@icloud.com?subject=Rails%20Blog%20Comment">Send Me a Note</a></td></tr>
	</tbody>
</table>

<%= link_to 'Back', posts_path %>
