<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

<h1>Posts</h1>


<% if current_user %>
	<%= link_to 'New Post', new_post_path %>
	<% if current_user.super_admin? %> | <%= link_to 'Admin', users_path %> <% end %>
	<br /><br />
<% end %>
<br />
<%= render "list" %>
