$light-gray: #aeb0b5;
$lightest-gray: #efefef;
$dark-blue: #1d4a88;
$white: #ffffff;
$light-gray: #CCCCCC;
$red: red;
$green: green;
$black: black;
$normal: #9999CC;

body {
  background-color: $normal;
  line-height: 10px;
  margin: 33px;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: $white;
  margin: 0;
  display: inline-block;
  font-size: 3em;
}

div {
  .title {
    border: solid 1px $light-gray;
    background-color: $dark-blue;
    padding: 4px;
    margin: 4px 4px 0 4px;
    min-width: 1000px;
    height: 150px;
  }

  .info-box {
    float: right;
    position: relative;
    min-width: 300px;
    top: 10px;
    right: 10px;
    background-color: $light-gray;
  }

}

 #post-body-text {
    word-wrap:break-word;
    font-size: 12px;
    #line-height: 21px;
    display:inline;
  }

.container {
  width: 90%;
  height: 100px;
}

.user-info {
  padding: 0;
  margin: 0;

  td {
    border: 1px solid $light-gray;
  }
}

.history  {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.posts {
    table-layout:fixed;
    width:610px;
    td {
        width:600px;
        word-wrap:break-word;
    }
}

.post-title {
  width: 100%;
  text-align: left;
  padding: 5px;
  color: $dark_blue;
  margin: 0;
  display: inline-block;
  font-size: 2em;
}

.post-about {
  width: 100%;
  text-align: left;
  padding: 2px;
  color: $lightest_gray;
  margin: 0;
  display: inline-block;
  font-size: 1em;
}

.post-body {
  width: 100%;
  text-align: left;
  padding: 2px;
  color: $black;
  margin: 0;
  display: inline-block;
  font-size: 1em;
}

#posts-table {
  line-height: 110%;

  thead {
    th {
      background-color: $dark-blue;
      text-align: center;
      color: $white;
    }
  }
}

#comments-table {
  line-height: 110%;

  thead {
    th {
      background-color: $dark-blue;
      text-align: center;
      color: $white;
    }
  }
}

.h-table {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 500px;
}

.log_out {
  position: absolute;
  top: 15px;
  right: 40px;
}

.xfer-button {
  float:right;
}

 div#popUp {
   display: none;
   position: absolute;
   top: 50px;
   right: 400px;
   background-color: $white;
   z-index:9999;
   opacity: 100;
 }
 
.welcome {
  text-align: center;
  margin: 0px 200px 0px 200px;
  font-size: 30px;
  color: $white;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3px;
  background-color: $lightest-gray;
  text-align: center;
}

.hmenu { display: inline-block; }

.account-info { float: right; }

.xtable {
  border-collapse: collapse;

  tr {
    line-height: 20px;
  }

  th,
  td {
    border: 1px solid;
    padding: .3vw;
    width: 12.6vw;
    text-align: center;
    font-size: 2vw;
  }

  tbody {
    overflow-y: scroll;
    max-height: 80vh;
  }
}

.xtable thead,
.table tfoot,
.xtable tbody {
  display: block;
}
